@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as var;

.settings-menu {
    padding: var.$max-width;
    @include rdy-h1;
    font-size: 54px;
    position: relative;
    display: flex;
    flex-direction: column;

    &__separator {
        transform: translate(-35px, -20px);
    }

    &__form {
        padding-left: 40px;
    }

    &__text {
        @include norm-text;

    }

    &__row {
        @include tr;
        padding: 8px 0;
        border: 1px solid rgba(255, 0, 0, 0);

        &--checkbox {
            cursor: pointer;

        }

        &:hover {

            >.settings-menu__text {
                font-weight: 700;
            }

            .active {
                display: block;

                >.arrow {                    
                    fill: rgba(255, 187, 0, 0.562);  
                }
            }

            .default {
                display: none;
            }
        }
    }

    &__row-title {
        @include checked-text;
    }

    &__checkbox {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;


        &:checked {
            &~.default {
                display: none;
            }

            &~.active {
                display: block;
            }

            &~.settings-menu__text {
                @include checked-text;
            }
        }
    }

    &__group {
        margin: 36px 0;
        max-width: 400px;
        border: none;
        min-width: 0;
    }

    &__title {
        font-size: 63px;
    }
}