@use "../abstracts/variables" as *;

@mixin flex-center {
    display: $flex;
    justify-content: $flex-jc;
    align-items: $flex-al;
}

@mixin flex-direction-c {
    display: $flex;
    flex-direction: $flex-d-c;
    align-items: $flex-al;
    justify-content: $flex-jc;
}

@mixin rdy-h1 {
    font-family: $font-main;
    font-weight: $font-weight7;
    font-style: $font-styleB;
    font-size: 140px;
}

@mixin play-h2 {
    font-family: $font-sec;
    font-weight: 400;
    font-style: $font-styleR;
    font-size: 48px;
}

@mixin tr {
    display: $flex;
    align-items: $flex-al;
    gap: $gap
}

@mixin td {
    padding: 14px 16px;
}

@mixin checked-text {
    font-family: Almarai;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

@mixin norm-text {
    font-family: Almarai;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

@mixin img-wrapper {
    width: 460px;
    height: 430px;
    border-radius: 18px;
    overflow: hidden;

    img {
        width: calc(100% + 4px);
        height: calc(100% + 2px);
        object-fit: cover;
        margin: -4px;
        display: block;
    }

}