@use "../abstracts/variables" as *;

@mixin flex-center {
    display: $flex;
    justify-content: $flex-jc;
    align-items: $flex-al;
}

@mixin flex-direction-c {
    display: $flex;
    flex-direction: $flex-d-c;
    align-items: $flex-al;
    justify-content: $flex-jc;
}

@mixin rdy-h1 {
    font-family: $font-main;
    font-weight: $font-weight7;
    font-style: $font-styleB;
    font-size: 140px;
}

@mixin play-h2 {
    font-family: $font-sec;
    font-weight: 400;
    font-style: $font-styleR;
    font-size: 48px;
}

@mixin tr {
    display: $flex;
    align-items: $flex-al;
    gap: $gap
}

@mixin checked-text {
    font-family: Almarai;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

@mixin norm-text {
    font-family: Almarai;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

@mixin img-wrapper {
    width: 460px;
    height: 430px;
    position: relative;
    border-radius: 18px;

    img {
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 2px);
        object-fit: cover;
        margin: -4px;
    }
}

@mixin hidden {
    opacity: 0;
    visibility: hidden;
}

@mixin wrapper-grid {
    background-color: #303131;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;

    align-items: center;
    flex-direction: column;

    &__header {
        display: $flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 16px 64px;
        margin-bottom: 120px;
    }

    &__player-stats {
        display: $flex;
        align-items: $flex-al;
        gap: $gap;
        width: 300px;
        height: 65px;
        background-color: #415652;
        border: 2px solid royalblue;
        padding: 0 16px;
    }

    &__current-player {
        display: $flex;
        justify-content: $flex-jc;
        align-items: center;
        gap: $gap;
    }

    &__layout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
}
