$max-width: 64px max(calc(50% - 720px), 64px);

$primary-color: #FFFFFF;
$secondary-color: #F0EA6E;
$primary-color-dark: #303131;

$bg-color:#f6f6f6;

$flex: flex;
$flex-d-c: column;
$flex-jc: center;
$flex-al: center;
$gap: 12px;

$font-main: "Red Rose";
$font-sec: "Almarai";

$font-weight7: 700;
$font-weight4: 400;
$font-styleB: Bold;
$font-styleR: Regular;
$letter-spacing: 0%;

$font-16: 16px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;