@use "mixins" as *;
@use "variables" as var;

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Rose";
    background-color: #919090
}

.main {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    text-align: left;
    color: var.$primary-color;
    background-color: #303131;
    position: relative;

    &__title {
        @include rdy-h1;
    }

    &__subtitle {
        @include play-h2;
        justify-content: start;
    }

    &__background-decor {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.play-btn {
    width: 250px;
    height: 98px;
    margin-top: 60px;
    @include flex-center;
    background-color: var.$secondary-color;
    gap: 18px;
    @include play-h2;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: width 0.4s ease-in-out;

    &__icon {
        &~path {
            fill: var.$primary-color;
        }

        transition: transform 0.4s ease-in-out,
    }

    &:hover {
        width: 300px;

        .play-btn__icon--controller {
            transform: rotate(45deg);
        }

        .play-btn__icon--arrow {
            width: 60px;
            height: 40px;
        }
    }
}

.settings-menu {
    padding: var.$max-width;
    @include rdy-h1;
    font-size: 54px;
    position: relative;

    &__separator {
        transform: translate(-35px, -20px);
    }

    &__form {
        padding-left: 40px;
    }

    &__row {
        @include tr;
        padding: 8px 0;
    }

    &__row-title {
        @include checked-text;
    }

    &__text {
        @include norm-text;
    }

    &__checkbox {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked {
            &~.default {
                display: none;
            }

            &~.active {
                display: block;
            }

            &~.settings-menu__text {
                @include checked-text;
            }
        }
    }
}

.default {
    display: block;
}

.active {
    display: none;
}

.wrapper-Settings {
    margin: 36px 0;
    max-width: 400px;
}

.wrapper-img {
    @include img-wrapper;
}

.wrapper-game-settings {
    position: absolute; // warum wird das nicht von dem relativ im settings-menu gehalten
    right: 215px;
    top: 715px;
}

.game-setting {
    @include flex-center;
    background-color: #f6f6f6;
    width: 550px;
    height: 85px;
}

// .settings-menu__checkbox:checked~.default {
//     display: none;
// }

// .settings-menu__checkbox:checked {
//     &~.active {
//         display: block;
//     }

//     &~.settings-menu__text {
//         @include checked-text;
//     }
// }

// .card {
//     height: 100px;
//     aspect-ratio: 1 / 1;
//     background-color: transparent;
//     border: none;
//     border: 1px solid yellowgreen;

//     &__inner {
//         position: relative;
//         width: 100%;
//         height: 100%;
//         transform-style: preserve-3d;
//         transition: all 300ms ease-in-out;

//     }

//     &__face {
//         position: absolute;
//         inset: 0;
//         background-color: black;
//         backface-visibility: hidden;
//         border: 1px solid rgb(135, 50, 205);


//         &--back {
//             transform: rotateY(180deg);
//             background-color: red;
//             border: 1px solid rgb(205, 50, 135);
//         }
//     }

//     &.is-flipped .card__inner {
//         transform: rotateY(180deg);

//     }
// 