@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as var;
.wrapper-grid--gaming {
    background-color: #1e3a4a;

    .wrapper-grid__player-stats {
        background-color: #152e3c;
        border-color: #e91e63;
    }

    .wrapper-grid__exit-btn {
        border-color: #ED1B76;
    }

    .flip img {
        border-radius: 14px;
    }

    .popup__card {
        border-radius: 20px;
    }

    .popup__actions button {
        border-radius: 30px;
    }

    .popup__actions #returnBack {
        background-color: #ED1B76;
    }

    .popup__actions #exitGame {
        background-color: #fbe7ef;
        color: #ED1B76;
        border-color: #ED1B76;
    }
}
.game-over--gaming {
    background-color: #1e3a4a;

    .game-over__score {
        background-color: var.$primary-color;
    }

    .game-over__home-btn {
        background-color: transparent;
        border: 2px solid #ED1B76;
    }
}
