@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as var;

.wrapper {
    display: flex;
    height: 80%;

    &__left {
        @include flex-direction-c;
        align-items: start;
        flex: 1;
    }

    &__right {
        @include flex-direction-c;
        flex: 2;
        gap: var.$gap;
    }

    &__img {
        @include img-wrapper;
    }

    &--question {
        transform: translate(0%, -10%);
        object-fit: contain !important;
    }

    &__game-settings {
        @include play-h2;
        @include flex-center;
        background-color: var.$bg-color;
        min-width: 450px;
        height: 85px;
        font-size: 22px;
        gap: var.$gap;
        justify-content: space-between;
        padding: 0px 32px 0 32px;

        &p {
            width: 24px;
            height: 100%;
        }
    }

    &__start-btn {
        width: 150px;
        height: 45px;
        background-color: var.$secondary-color;
        @include flex-center;
        gap: var.$gap;
        border: none;
        cursor: pointer;
        font-size: var.$font-24;
        font-weight: 800;
    }
}

.hidden {
    @include hidden
}

.code-vibes-theme {
    @include code-vibes-theme
}

.first-card {
    background-color: red;
    z-index: 100;
    box-shadow: 5px 10px #e71607;
}

.sec-card {
    background-color: rgb(18, 33, 235);
    z-index: 100;
    box-shadow: 5px 10px #320ae6;
}